streamlit==1.29.0
pandas>=1.3.0
scikit-learn
altair>=4.0
gradio>=4.24.0
torch
transformers
Thread
openai
llama-index
llama-index-core
llama-index-llms-openai
llama-index-llms-replicate
llama-index-embeddings-huggingface
pypdf
